<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Welcome to <%= title %>
    </h1>
    <!-- Form for interaction with RESTful API -->
    <form action="/posts" method="GET">
        <button type="submit">Fetch Posts</button>
    </form>
    <form action="/users" method="GET">
        <button type="submit">Fetch Users</button>
    </form>
</body>

</html>